{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h1 id="formName" {% if formEntity.name is not defined or formEntity.name is empty %}class="d-none"{% endif %}>
            <span class="text-muted fas fa-edit" title="Namen bearbeiten"></span>
            <span class="name"></span>
        </h1>

        <div id="formNameEdit" class="form-group {% if formEntity.name is defined and formEntity.name is not empty %}d-none{% endif %}">
            <div class="input-group">
                <div class="input-group-addon input-group-prepend">
                    <span class="input-group-text text-success fas fa-check" title="Namen anzeigen"></span>
                </div>
                <input type="text" class="form-control" name="formName" value="{% if formEntity.name is defined and formEntity.name is not empty %}{{ formEntity.name }}{% endif %}" placeholder="Formularname">
            </div>
        </div>

        <div id="stage1" class="build-wrap"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/form-builder.min.js') }}"></script>
    {{ parent() }}
    <script>
        var id = null,
            formDataEntity = null,
            urlShowForm = null,
            orderAvailableFields = {{ available_builder_fields|json_encode()|raw }},
            disabledFields = {{ disabledFields|json_encode()|raw }};

        {% if formEntity is defined %}
            id = {{ formEntity.id }};
            formDataEntity = '{{ formEntity.json|json_encode()|raw }}';
            urlShowForm = "{{ path('getForm', {'id': formEntity.id}) }}";
        {% endif %}

        $(document).ready(function () {
            formBuilder(id, formDataEntity, urlShowForm, orderAvailableFields, disabledFields);
        });
    </script>
{% endblock %}
