{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/demo.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Field Interactive formBuilder</h1>
        <div id="stage1" class="build-wrap"></div>
        <form class="render-wrap"></form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var urlSaveForm = "{{ path('builderFormSave') }}",
            urlDeleteForm = "{{ path('builderFormDelete') }}",
            id = null,
            formDataEntity = null,
            urlShowForm = null,
            orderAvailableFields = {{ available_builder_fields|json_encode()|raw }},
            disabledFields = {{ disabledFields|json_encode()|raw }};

        {% if formEntity is defined %}
            id = {{ formEntity.id }};
            formDataEntity = '{{ formEntity.json|json_encode()|raw }}';
            urlShowForm = "{{ path('getForm', {'id': formEntity.id}) }}";
        {% endif %}
    </script>
    <script src="{{ asset('assets/js/form-builder.min.js') }}"></script>
    <script src="{{ asset('assets/js/demo.js') }}"></script>
{% endblock %}
